<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connStr"
			 connectionString="Data Source=DESKTOP-MKTV363\SQLEXPRESS;Initial Catalog=NikahRandevuDB;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
